<% if flash[:errors] %>
<% flash[:errors].each do |message| %>
<p style="color: red;"> <%= message %> </p>
<% end%>
<% end%>
<%= form_for @user do |f| %>
<%= f.label :name%>
<%= f.text_field :name%>
<br>
<br>
<%= f.label :username%> <%= f.text_field :username%>
<br>
<br>
<%= f.label :password%> <%= f.text_field :password%>
<br>
<br>
<%= f.label :bio%> <%= f.text_field :bio%>
<br>
<br>
<%= f.submit %>
<% end %>