<h2>Search for origami</h2>

<%= form_tag(origamis_search_results_path, :method => "get") do %>  
  <h5><%= label_tag(:title, "Search by title:") %></h5>
  <%= select_tag(:title, options_for_select(@origami_titles), {prompt: "title..."})%>

 <h5> <%= label_tag(:category, "Search by category:") %></h5>
  <%= select_tag(:category, options_for_select(@origami_categories, " "), {prompt: "category..."}) %>

  <h5><%= label_tag(:difficulty, "Search by difficulty:") %></h5>
  <%= select_tag(:difficulty, options_for_select(@origami_difficulties, " "), {prompt: "difficulty..."}) %></h5>
  
  <h5><%= submit_tag("Search") %>
  
<% end %>