<div class="origami-search-container">
    <div class="header-container">
        <h2><%=@origami.title%></h2>

        <% if (@logged_in_user && !@logged_in_user.basket_origamis.include?(@origami))%>
            <%= button_to("Add to Basket", add_to_basket_path, method: :post,  params: { origami_id: @origami.id })%>
        <% elsif (@logged_in_user && @logged_in_user.basket_origamis.include?(@origami))%>
            <%= button_to("Remove From Basket", delete_from_basket_path, method: :delete,  params: { origami_id: @origami.id })%>
        <%end%>
        <br>

        <div class="polaroid">
            <img src="<%= @origami.finished_image_url %>" alt="<%= @origami.title%>" style="width:200px;height:200px;">
        </div>

        <h3><%=@origami.category%> // <%=@origami.style%> // Difficulty [<%=' â— ' * @origami.difficulty%>]</h3>
 

    </div>
</div>
<div class="origami-show-container">

    <div class="origami-info">
        <h4>Description:</h4>
        <p><%=@origami.description%></p>
    </div>

    <div class="origami-info">
        <h3>Folding Diagram:</h3>
        <iframe src="<%= @origami.instruction_image_url %>" alt="Instructions" height="1150" width="800"></iframe>
    </div>
</div>



